@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
	background-color: #3e5f39;
	margin: 0;
	font-family: 'IBMPlexMono', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
